COMPOSE_PROJECT_NAME=fieldflow

UID=1000
GID=1000

APP_PORT=8080
POSTGRES_PORT=5433

POSTGRES_DB=fieldflow
POSTGRES_USER=fieldflow
POSTGRES_PASSWORD=fieldflow_dev

MINIO_ROOT_USER=fieldflow
MINIO_ROOT_PASSWORD=fieldflow_minio_dev
